@media (max-width: 768px) {
    .contentGrid {
        width: 100vw;
        height: 100%;
        display: grid;
        grid-template-rows:  1fr max-content;
        grid-template-areas: "content" "menu";
    }
}

@media (min-width: 768px) {
    .contentGrid {

        width: 90vw;
        max-width: 800px;
        height: calc(100% - 2vh);
        margin: 1vh auto;
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-template-areas:
                "menu content";
    }
}

.content {
    grid-area: content;
    width: 100%;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

.header {
    grid-area: header;

}

.menu {
    grid-area: menu;
}