.wrapper {
    background-color: white;
    display: grid;
    padding: .5rem;
}
@media (max-width: 599px){
    .wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 600px){
    .wrapper {
        grid-template-rows: min-content min-content min-content;
    }
}

.icon {
    color: #4b4b4b;
    font-size: 2rem;
}

.item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected {
    color: #106a8c;
}
