.wrapper {
    background-color: transparent;
    height: 60vh;
}
.searchArea {
    display: grid;
    width: fit-content;
    grid-gap: 1rem;
    margin: 0 auto;
    grid-template-columns: 1fr fit-content(2rem);
    padding: 1rem;
}
.link {
    text-decoration: none;
    color:black;
}
.itemWrapper {
    background-color: white;
    display: grid;
    grid-template-columns: 70px 1fr 30px;
    padding: 1rem;
    margin-bottom: 1px;
}

.imageArea img {
    height: 70px;
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 70px;
    border-radius: 35px;
}
.name {
    display: flex;
    padding-left: 1rem;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    font-weight: bold;
}
.saved {
    display: flex;
    padding-left: 1rem;
    align-items: center;
    color: #106a8c;
}

@media (max-width: 750px) {
    .itemsGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 750px) {
    .itemsGrid {
        display: grid;
        grid-gap: 2px;
        grid-template-columns: repeat(2, 1fr);
    }
}