@media (max-width: 600px) {
    .contentGrid {
        width: 100vw;
        height: 100%;
        display: grid;
        grid-template-rows: 10% 80% 10%;
        grid-template-areas: "header" "content" "menu";
    }
}

@media (min-width: 600px) {
    .contentGrid {
        width: 80vw;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 14vh 86vh;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
                "menu header"
                "content content";
    }
}
.content {
    grid-area: content;
    background-color: rgba(255,255,255,0.9);;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

.header {
    grid-area: header;

}
.menu {
    grid-area: menu;
}