.wrapper {
    overflow: hidden;
    height: fit-content;
    margin: 0;
    display: grid;
    width: 100%;
}

.link {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 768px) {
    .wrapper {
        width: 100%;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 4fr;
        grid-template-areas: "pp nb" "pp ctrls";
    }

    .imageArea {
        width: 20vw;
        height: 20vw;
    }
}

@media (max-width: 768px) {
    .wrapper {
        grid-template-rows: 100vw min-content min-content;
        grid-template-areas: "pp" "nb" "ctrls";
    }

    .imageArea {
        width: 100%;
        height: 100%;
        padding: 1.5rem;
    }

}

.texts {
    grid-area: nb;

}

.imageArea {
    grid-area: pp;
}

.imageArea img,  .noPic {

    height: calc(100vw - 3rem);
    width: calc(100vw - 3rem);
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    border-radius: 50%;
}
@media (min-width: 768px) {
    .imageArea img,  .noPic {

        height: 100%;
        width: 100%;

        object-fit: cover; /* Do not scale the image */
        object-position: center; /* Center the image within the element */
        border-radius: 50%;
    }
}
.name {
    text-align: center;
}

.bio {
    padding: 0 1.5rem;
    font-size: 1.2rem;
    text-align: justify;
    max-width: calc(100vw - 3rem);
    word-break: break-word;
}

.title {
    color: #828282;
    margin-bottom: .2rem;
}

.bioFull {
    line-height: 1.2rem;
    height: fit-content;
    text-align: justify;
}

.bioReg {
    color: #106a8c;
    height: 1.2rem;
    line-height: 1.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: justify;
}

.controls {
    grid-area: ctrls;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-gap: 2vw;
    height: min-content;
    width: calc(100% - 3rem);
    margin: 2rem 1.5rem;
}

